#home{
  display:none;
}
#instructions{
  display:none;
  position:relative;
  align-items:center;
  left:300px;
  background-color:beige;
  width:500px;
}
#instructions>h2{
  color:green;
  font-weight: bold;
  text-decoration: green underline;
  position:relative;
  left:150px;
}
body{
background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF); 
}
h1, .h2 {
  text-align: center;
}
.row{
  border: 3px dashed rgb(22, 20, 18);
  border-radius: 10px;
  padding-bottom: 200px;
}
#game1, #game2{
  position:relative;
  left: 100px;
  font-size:large;
}
button{
  position:relative;
  left: 40%;
  top:80px;
}
#result{
  text-align:center;
  position: relative;
  top:100px;
  right:70px;
  
}
.result{
  text-decoration: rgb(22, 235, 57) underline;
}
#results{
  color:rgb(4, 0, 255);
  text-decoration:none;
}
