#home{
  display:none;
}
#instructions{
  display:none;
}
body{
background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF); 
}
h1, .h2 {
  text-align: center;
}
.row{
  border: 3px dashed rgb(22, 20, 18);
  border-radius: 10px;
  padding-bottom: 200px;
}
